/* screen - text-field-outlined-disabled-leading-custom */

.text-field-outlined-disabled-leading-custom {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  min-width: 179px;
}

.text-field-outlined-disabled-leading-custom .object {
  align-items: flex-end;
  border: 0.5px solid #989898;
  border-radius: 4px;
  display: flex;
  height: 33px;
  min-width: 179px;
  padding: 1.5px 14.5px;
}

.text-field-outlined-disabled-leading-custom .input {
  height: 22px;
  width: 150px;
}

.text-field-outlined-disabled-leading-custom .mdc-text-field {
  --mdc-theme-primary: #6200ee;
}

.text-field-outlined-disabled-leading-custom .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #4B51EA;
}
